@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Mono", monospace;
  box-sizing: border-box;
}

.imagen {
  width: 100%;
  height: 100vh;
  background-image: url("../IMG/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
}
.width-image {
  width: 200px;
}
.justify-content-center {
  justify-content: center;
}

.boton5 {
  color: #fff !important;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: black;
  position: relative;
  border: 2px solid #318aac;
  outline: 1px solid;
  outline-color: rgba(49, 138, 172, 0.4);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.boton5:hover {
  box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5),
    0 0 20px rgba(49, 138, 172, 0.4);
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 80px;
  text-shadow: 1px 1px 6px #fff;
}

.arrow {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
}
.arrow a {
  height: 39px;
  width: 37px;
  text-align: center;
  background: rgba(158, 158, 158, 0.6);
  display: block;
  border-radius: 6px;
}
.arrow a span {
  color: #f2f2f2;
  font-size: 25px;
  line-height: 39px;
  cursor: pointer;
}
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../IMG/pacman.gif") 50% 50% no-repeat rgb(0, 0, 0);
  opacity: 1;
}
